.App
{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: centrt;

  background-color: black;
  gap: 5%;
}

.Heading
{
  color: white;
  font-weight:bold;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.mid
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  left: 45%;
  background-color: white;
  width: 8%;
  padding:2px;
}

.button-1
{
  width: 20%;
  text-align: center;
  font-size: x-large;
  border-left: 2px #bfbfbf;
  background-color: white;
}
.count 
{
  font-weight: bold;
  font-size: x-large;
}
.button-2
{
  width: 20%;
  text-align: center;
  font-size: x-large;
  border-right: 2px #bfbfbf;
  background-color: white;
}
.reset
{
  width: 10%;
  border-radius: 0%;
  border-color: #bfbfbf;
  background-color: white;
  font-size:x-large;
  position: relative;
  left: 44.3%;
  
}